.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 350px;
  display: flex;
  flex-direction: row;
}

.post {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #c4c4c4;
}

.content {
  max-width: 350px;
  height: 100%;
  word-wrap: break-word;
  font-size: 13px;
}

.icon {
  size: 24;
  height: min-content;
  width: min-content;
  margin-right: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  padding: 8px 0;
}

.profile {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 11px;
  font-weight: 400px;
  color: #979797;
  align-content: center;
  text-align: center;
}

.image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.link {
  color: #0078e8;
  display: inline;
  word-wrap: break-word;
}

.commentContainer {
  max-width: 350px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.comment {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: flex-start;
}

.commentText {
  word-wrap: break-word;
  margin-top: 1px;
  font-size: 13px;
}

.text {
  font-weight: 600;
}

.interactionBar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  width: auto;
}
